<div class="cart-page">
  <app-header></app-header>
  <div class="cart">
    <div class="space"></div>
    <div class="content">
      <span class="title">Your cart</span>
      <mat-divider></mat-divider>
      <div class="summery">
        <table class="table">
          <thead class="header">
            <tr>
              <th>Item</th>
              <th>Title</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total</th>
              <th></th>
            </tr>
          </thead>
          <tbody class="body">
            @for (product of (products$ | async) | keyvalue; track $index) {
            <tr>
              <th>
                <img class="product-image" src="{{ product.key.image }}" />
              </th>
              <th>{{ product.key.title }}</th>
              <th>{{ product.key.price }}$</th>
              <th>
                <app-quantity
                  [quantity]="product.value"
                  (update)="updateQuantity($event, product.key)"
                ></app-quantity>
              </th>
              <th class="total">
                {{ product.key.price * product.value | number : "1.2-2" }}$
              </th>
              <th>
                <img
                  class="remove-from-cart"
                  src="../../assets/Close.svg"
                  (click)="removeAllFromCart(product.key)"
                />
              </th>
            </tr>
            }
          </tbody>
        </table>

        <div class="cart-mobile">
          @for (product of (products$ | async) | keyvalue; track $index) {
          <div class="card">
            <img class="product-image" src="{{ product.key.image }}" />
            <div class="info">
              <span>{{ product.key.title }}</span>
              <span>{{ product.key.price }}$</span>
              <app-quantity
                class="quantity"
                [quantity]="product.value"
                (update)="updateQuantity($event, product.key)"
              ></app-quantity>
            </div>
            <div class="close-total">
              <img
                class="remove-from-cart"
                src="../../assets/Close.svg"
                (click)="removeAllFromCart(product.key)"
              />
              <span class="total">
                Total:
                {{ product.key.price * product.value | number : "1.2-2" }}$
              </span>
            </div>
          </div>
          }
        </div>

        <div class="order-summery-checkout">
          <div class="order-summery">
            <span class="title">Order summery</span>
            <mat-divider></mat-divider>
            <div class="order-detail">
              <span>Subtotal</span><span>{{ price | number : "1.2-2" }}$</span>
            </div>
            <div class="order-detail">
              <span>Shipping</span><span>Free</span>
            </div>
            <div class="total title order-detail">
              <span>Total</span><span>{{ price | number : "1.2-2" }}$</span>
            </div>
          </div>
          <button class="checkout" (click)="openDialog()">Checkout</button>
        </div>
      </div>
    </div>
    <div class="space"></div>
  </div>
</div>
