.catalog-page {
  display: flex;
  flex-direction: column;

  .catalog {
    display: flex;
    height: calc(100vh - 53px);
    padding-top: 35px;
    background-color: var(--gray-3);

    .space {
      flex: 1;
    }

    .content {
      display: flex;
      flex-direction: column;
      margin-bottom: 32px;

      &::after {
        content: "";
        height: 32px;
      }

      .title {
        color: var(--gray-blue);
        font-size: 30px;
        font-weight: 700;
        line-height: 45px;
      }

      mat-divider {
        background: var(--gray-3);
        margin: 13px 0 24px 0;
      }

      .search {
        background: url(../../assets/Search.svg) no-repeat left;
        background-color: var(--white);
        border: 1px solid var(--gray-2);
        border-radius: 4px;
        padding: 8px 0 8px 30px;
        width: 50%;
        margin-bottom: 24px;
      }

      .table {
        display: block;
        overflow-y: auto;
        background: var(--white);
        border: 1px solid var(--gray-2);
        border-radius: 4px;
        padding: 0 24px;
        font-size: 14px;
        line-height: 21px;
        text-align: left;
        border-collapse: collapse;

        &::-webkit-scrollbar {
          width: 4px;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          background: var(--gray-1);
        }

        .header {
          font-weight: 700;
          color: var(--gray-blue);

          th {
            width: 20%;
            padding: 16px 0;
          }
        }

        .body {
          tr {
            border-top: 1px solid var(--gray-3);
          }

          tr:nth-child(even) {
            background-color: var(--white);
          }

          tr:nth-child(odd) {
            background-color: var(--gray-4);
          }

          th {
            font-weight: 400;
            color: var(--gray-1);
            padding-right: 16px;
          }
        }

        .add-to-cart {
          cursor: pointer;
        }
      }

      .product-image {
        width: 35px;
        height: 35px;
      }
    }

    .card-container {
      display: none;
    }
  }
}

@media screen and (max-width: 600px) {
  .catalog-page {
    .catalog {
      .space {
        flex: 1 1 10%;
      }
      .content {
        .title {
          font-size: 16px;
          line-height: 24px;

          .page {
            display: none;
          }
        }

        .search {
          width: auto;
        }

        .table {
          display: none;
        }

        .card-container {
          display: flex;
          flex-direction: column;
          overflow-y: scroll;

          .card {
            display: flex;
            background: var(--white);
            border: 1px solid var(--gray-2);
            border-radius: 4px;
            padding: 16px;
            gap: 13px;
            margin-bottom: 8px;

            .info {
              display: flex;
              flex-direction: column;
              width: 100%;

              color: var(--gray-1);
              font-size: 14px;
              font-weight: 400;
              line-height: 21px;
            }

            .add-to-cart {
              display: flex;
              position: relative;
              align-self: flex-start;
            }
          }
        }
      }
    }
  }
}
